.book {
  display: flex;
  width: 100%;
  height: 100%;
}

.cover {
  object-fit: cover;
}

.title {
  font-family: var(--font-family-pixel);
  font-size: 14px;

  &.smallerTitle {
    font-size: 12px;
  }
}

.blurb,
.author {
  font-family: var(--font-family-pixel);
  font-size: 12px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  justify-content: center;
}
