.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0px;
}

.divider {
  margin-top: 15px;
}

.experience {
  &.title {
    font-family: var(--font-family-pixel);

    &.box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 650px) {
        flex-direction: column;
      }
    }
  }

  &.body {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 1rem;
  }
}

.jobTitle {
  font-family: var(--font-family-pixel);
  font-size: 1rem;
  color: var(--me-subtitle-color);
}

.body {
  font-family: var(--font-family-pixel);
}

.date {
  color: var(--me-subtitle-color);
}

ul {
  list-style-type: none; /* Removes default bullets */
  align-items: center;
}

li::before {
  content: "";

  background-image: var(--resume-bullet-point-image);
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;

  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-right: 7px;
}
