.modal {
  background-color: var(--book-modal-background-color);
  width: 280px;
  height: 140px;
  border-radius: 30px;

  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.92;
}

.modal::backdrop {
  background-color: transparent;
}
