.container {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-top: 30px;

  @media (max-width: 650px) {
    justify-content: end;
    bottom: 20px;
    right: 10px;
  }
}

.link {
  font-family: var(--font-family-pixel);
  color: var(--footer-color);
  text-decoration: none;
}

.goBottom {
  @media (max-width: 650px) {
    position: absolute;
    justify-content: end;
    bottom: 20px;
    right: 10px;
  }
}
