.container {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
}

.link {
  font-family: "DepartureMono", monospace;
  color: var(--footer-color);
  text-decoration: none;
}
