.container {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  width: 100%;

  @media (max-width: 650px) {
    position: fixed;
    justify-content: end;
    bottom: 20px;
    right: 10px;
  }
}

.link {
  font-family: "DepartureMono", monospace;
  color: var(--footer-color);
  text-decoration: none;
}
