.container {
  width: 100%;
}

.bookshelf {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 7px;
  position: relative;
  padding-top: 170px;
}

.bookshelf::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 20px; /* thickness of your "border" */

  background-image: url("../../assets/bookshelf/mc-wood-strip.png");
  background-repeat: repeat-x; /* repeat horizontally */
  background-size: contain; /* adjust as needed */
  background-position: bottom center;

  pointer-events: none; /* prevents blocking clicks */
}

.bookend {
  width: 40px;
  height: 40px;
  margin-left: -8px;
}

.bookstart {
  width: 30px;
  height: 30px;
  margin-right: -2px;
}
