.container {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-family: var(--font-family-pixel);
}

.bookshelf {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 7px;
  position: relative;
}

.flySpace {
  width: 100%;
  height: 135px;
  //border: 1px solid red;
  overflow: hidden;
  position: relative;
}

.dragon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  //animation: slideRightToLeft 30s linear infinite;
  animation:
    flyHorizontal 30s linear infinite,
    flyVertical 10s ease-in-out infinite alternate;
}

@keyframes flyHorizontal {
  0% {
    left: 100%;
  }
  100% {
    left: -120px;
  } /* offscreen left */
}

@keyframes flyVertical {
  0% {
    transform: translateY(-50%) translateY(0);
  }
  50% {
    transform: translateY(-50%) translateY(-20px);
  } /* up */
  100% {
    transform: translateY(-50%) translateY(20px);
  } /* down */
}

// @keyframes slideRightToLeft {
//   0% {
//     left: 100%; // start completely outside on the right
//   }
//   100% {
//     left: -100px; // end completely outside on the left
//   }
// }

.bookshelf::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 20px; /* thickness of your "border" */

  background-image: url("../../assets/bookshelf/mc-wood-strip.png");
  background-repeat: repeat-x; /* repeat horizontally */
  background-size: contain; /* adjust as needed */
  background-position: bottom center;

  pointer-events: none; /* prevents blocking clicks */
}

.bookend {
  width: 40px;
  height: 40px;
  margin-left: -8px;
}

.bookstart {
  width: 30px;
  height: 30px;
  margin-right: -2px;
}
