.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 64px;

  @media (max-width: 650px) {
    padding: 10px 20px;
  }
}

.container {
  width: 700px;
}

.bookshelf {
  width: 800px;
}

.bookshelfFooter {
  position: fixed;
}
