.layout {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 64px;

  &.concentrated {
    padding: 100px 350px;
  }
}

.container {
  border: 1px solid magenta;

  &.concentrated {
    width: 700px;
  }
}
