.layout {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 64px;

  @media (max-width: 650px) {
    padding: 10px 20px;
  }
}

.container {
  border: 1px solid magenta;
  width: 700px;

  &.concentrated {
    width: 700px;
  }
}
