.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
  border: 1px solid cyan;
}

.link {
  font-family: "DepartureMono", monospace;
}
