.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  @media (max-width: 650px) {
    display: none;
  }
}

.mobileNavbar {
  &.btn {
    display: none;
    @media (max-width: 650px) {
      background-image: url("src/assets/icons/hamburger-light.png");
      background-size: 100% 100%;
      width: 35px;
      height: 35px;
      border: 1px solid transparent;

      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      cursor: pointer;
    }

    &.darkMode {
      background-image: url("src/assets/icons/hamburger-dark.png");
    }
  }
}

dialog {
  all: unset;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 9999;
}

.mobileNavBar .link {
  font-family: "DepartureMono", monospace;
  color: var(--navbar-color);
  text-decoration: none;
}

.button {
  background-image: url("src/assets/icons/light-mode-moon.png");
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;

  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;

  &.darkMode {
    background-image: url("src/assets/icons/dark-mode-moon.png");
  }
}
