.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--navbar-border-bottom-color);
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  @media (max-width: 650px) {
    display: none;
  }
}

.link {
  font-family: var(--font-family-pixel);
  color: var(--navbar-color);
  text-decoration: none;

  &.current {
    color: var(--me-link-color);
  }
}

.mobileNavbar {
  &.btn {
    display: none;
    @media (max-width: 650px) {
      background-image: var(--navbar-mobile-hamburger-image);
      background-size: 100% 100%;
      width: 35px;
      height: 35px;
      border: 1px solid transparent;

      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;

      cursor: pointer;
    }
  }

  &.close {
    background-image: var(--navbar-mobile-close-image);
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    border: 1px solid transparent;

    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
  }

  &.nav {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;
  }
}

dialog {
  all: unset;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 9999;
  padding: 20px;
}

.button {
  background-image: var(--navbar-dark-mode-switch-image);
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;

  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.back {
  background-image: var(--posts-back-btn);
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  border: 1px solid transparent;

  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;

  @media (max-width: 650px) {
    display: none;
  }
}
