.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.link {
  font-family: "DepartureMono", monospace;
  color: black;
  text-decoration: none;
}

.button {
  content: "";
  background-image: url("src/assets/icons/light-mode-moon.png");
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;

  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
}
