@import "tailwindcss";

@font-face {
  font-family: "DepartureMono";
  src: url("./assets/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: beige;
  --color: black;
  --navbar-color: black;
  --footer-color: black;
  --me-subtitle-color: gray;
  --me-link-color: #ba6b2a;
  --font-family-pixel: "DepartureMono", monospace;
  --navbar-dark-mode-switch-image: url("src/assets/icons/light-mode-moon.png");
  --navbar-mobile-hamburger-image: url("src/assets/icons/hamburger-light.png");
  --navbar-mobile-close-image: url("src/assets/icons/x-light.png");
  --resume-bullet-point-image: url("src/assets/icons/arrow-light-mode.png");
  --resume-job-title-highlight-color: rgb(240, 214, 68);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme="dark"] {
  --background-color: #3e3e42;
  --color: white;

  --navbar-color: white;
  --footer-color: white;

  --me-subtitle-color: lightgray;
  --me-link-color: #dbac54;

  --navbar-dark-mode-switch-image: url("src/assets/icons/dark-mode-moon.png");
  --navbar-mobile-hamburger-image: url("src/assets/icons/hamburger-dark.png");
  --navbar-mobile-close-image: url("src/assets/icons/x-dark.png");
  --resume-bullet-point-image: url("src/assets/icons/arrow-dark-mode.png");
  --resume-job-title-highlight-color: rgb(239, 230, 178);
}

/* reset box-sizing; prevent overflow */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* a {
  font-family: "DepartureMono", monospace;
  color: black;
  text-decoration: none;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
