.content {
  font-family: Georgia, "Times New Roman", Times, serif;

  h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  p {
    padding-bottom: 1.25rem;
    font-size: 1rem;
  }
}
